@font-face { 
    font-family: 'GyeonggiBatang'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
.skroll{
    background: rgba(0,0, 0, .5);
    color: #fff;
    width: 50px; height: 50px;
    position: fixed; top: 0; left: 0;
    z-index: 100000;
}   
            
/* layout */
#contents {
}
#section1 {
    position: relative; 
    background: #01403D;
    z-index: 1000;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='0.13'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23015753' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23026964'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
#section2 { 
    position: relative; 
    margin-top: 17vh;
    background: #fff;
    z-index: 1000; 
}
#section2-1{
    margin-top: -30px;
    padding-top: 65px;
    background: rgba(0, 0, 0, .5);
}
.sec2-1{
    padding: 1% 0;
}
.sec2-1 .info{
    text-align: right;
}
.sec2-1 .info li{
    margin-bottom: 1%;
}
.sec2-1 .info li p{
    color: #fff; font-size: 16px; 
    font-weight: 200;
    margin-bottom: -8px;
}
.sec2-1 .info li strong{
    color: #fff; font-size: 24px;
    font-weight: 500;
}

#section3 { 
    position: relative; 
    margin-top: 17vh;
    margin-bottom: 24%;
    background: #fff;
    z-index: 1000; 
}
#section4 {
    position: relative; 
    overflow: hidden;
    background: #D28179;
    height: 8500px;
    z-index: 100;
}
#section5 {
    padding: 12% 0 7%;
    background: #C3BBB7;
}
#section6 {
    padding: 100px 0 80px;
    background: #fff;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* 공통 */
.big_ttl{
    margin-bottom: 17vh;
}
.big_ttl h2{
    font-family: 'Anton', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 600;
    font-size: 12vw; color: #01403D;
}


/* .section1 .header */
.header {
    overflow: hidden;
    padding: 0 40px;
    line-height: 80px;
}
.header .logo {
    float: left;
}
.header .logo a{
    color: #fff; font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.03em
}
.header .menu {
    float: right;
    font-size: 0;
}
.header .menu li {
    display: inline-block;
    margin-right: 50px;
}
.header .menu li:last-child{
    margin-right: 0;
}
.header .menu li a {
    position: relative;
    font-family: 'Oswald', sans-serif;
    color: #fff; font-size: 16px; font-weight: 300;
    letter-spacing: 0.12em;
}
.header .menu li a::before{
    position: absolute; left: 0; bottom: -3px;
    display: block;
    content: '';
    width: 0; height: 2px;
    background: #D28179;
    opacity: 0;
    transition: all .2s ease-in-out ;
}
.header .menu li a:hover::before{
    opacity: 1;
    width: 100%;
}


/* .section1 .sec1 */
.sec1{
    padding-bottom: 1%;
}
.sec1 .txtWrap{
    width: 100%;
}
.sec1 .txtWrap h1 em{
    font-size: 11vw;
    line-height: 1.2em;
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    letter-spacing: -0.02em;
    display: block;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    transition: all .5s;
}
.sec1 .txtWrap h1 em span{
    min-width: 30px;
    opacity: 0;
    transform: translateY(20px) rotate(15deg);
}
.sec1 .txtWrap .txt1 {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    text-align: left;
}
.sec1 .txtWrap .txt2 {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    text-align: left;
    z-index: 1000;
}
.sec1 .txtWrap .txt2 em {
    -webkit-text-fill-color: transparent;
}
.sec1 .imgWrap {
    position: relative;
    width: 600px;
    z-index: 500;
    left: 50%;
    display: inline-block;
    padding-top: 25%;
}
.sec1 .imgWrap img{
    width: 100%;
    display: block;
    opacity: 0;
    transform: translateY(50px);
    /* padding: 80% 0 15% 120%; */
}
/* section2 */
.sec2 h2{
    transition: all .5s;
}
.sec2 h2 span{
    display: inline-block;
    transform:translateY(70px);
    opacity: 0;
}
.sec2 .txtWrap1,
.sec2 .txtWrap2{
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
}
.sec2 .txtWrap1 .about-left{
    width: 30%;
}
.sec2 .txtWrap1 .about-right{
    width: 65%;
}
.sec2 .txtWrap1{
    margin-bottom: 20vh;
}
.sec2 .txtWrap1 .about-left svg{
    width: 70%;
}
.sec2 .txtWrap1 .about-right h3{
    font-size: 32px; font-weight: 200;
    padding-bottom: 1.5vw;
    opacity: 0;
    transform: translateX(50px);
}
.sec2 .txtWrap1 .about-right p,
.sec2 .txtWrap2 .about-left p{
    font-size: 26px;
    font-family: 'GyeonggiBatang'; 
}
.sec2 .txtWrap1 .about-right p{
    opacity: 0;
    transform: translateX(50px);
}

.sec2 .txtWrap2 .about-left p{
    opacity: 0;
    transform: translateX(-50px);
    margin: 3% 0 7%;
}
.sec2 .txtWrap2 .about-left{
    width: 45%;
}
.sec2 .txtWrap2 .about-right{
    width: 45%;
}
.sec2 .txtWrap2 .about-left svg{
    box-sizing: border-box;
    margin-top: 16%;
    width: 60%;
}
.sec2 .txtWrap2 .about-right .imgWrap{
    position: relative; z-index: 1500;
    width: 100%;
    text-align: right;
}
.sec2 .txtWrap2 .about-right .imgWrap img{
    display: block;
    opacity: 0;
    filter: grayscale(1);
    transition: all .5s ease;
}
.sec2 .txtWrap2 .about-right .imgWrap img:hover{
    filter: grayscale(0);
}

  

/* section3 */
.sec3 h2{
    transition: all .5s;
}
.sec3 h2 span{
    display: inline-block;
    transform:translateY(70px);
    opacity: 0;
}
.sec3 .panel{
    display: flex;
    margin-bottom: 24%;
}
.sec3 .panel:last-child{
    margin-bottom: 0;
}
.sec3 .panel .work-img{
    display: none;
}
.sec3 .panel .work-left{
    width: 40%;
}
.sec3 .panel .work-right{
    width: 60%;
    text-align: right;
}
.sec3 .panel .work-left .work-left-wrap{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sec3 .panel .work-left .deco:before{
    content: '';
    display: inline-block;
    width: 7px; height: 1px;
    background-color: #231F20;
    margin-right: 5px;
}
.sec3 .panel .work-left .deco{
    width: 100%;
    font-size: 12px;
    display: inline-block;
    transform: translateY(50px);
    opacity: 0;
}
.sec3 .panel .work-left .work_ttl{
    padding-right: 50%;
    margin: 2% 0 15% 0;
    display: inline-block;
    font-size: 60px; font-weight: 900;
    font-family: 'Fjalla One', sans-serif;
    line-height: 100%; letter-spacing: -0.01em;
    transform: translateY(50px);
    opacity: 0;
}
.sec3 .panel .work-left .work_desc{
    margin-bottom: 23%;
    font-size: 22px; 
    line-height: 180%;
    font-family: 'GyeonggiBatang'; 
    display: inline-block;
    transform: translateY(50px);
    opacity: 0;
}
.sec3 .panel .work-left .btn{
    position:relative;
    padding:19px 22px ;
    transition: all .2s ease;
    opacity: 0;
}
.sec3 .panel .work-left .btn:first-child{
    margin-right: 40px;
}
.sec3 .panel .work-left .btn::before{
    content: "";
    position: absolute; top: 0; left: 0;
    display: block;
    border-radius:28px;
    background: rgba(0, 88, 84, .5);
    width:56px; height:56px;
    transition: all .3s ease;
}
.sec3 .panel .work-left .btn span{
    position: relative;
    font-size: 16px; color: #231F20;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
}
.sec3 .panel .work-left .btn svg{
    position: relative;
    top: 2px;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke: #231F20;
    transform:translateX(-5px);
    transition: all .3s ease;
}
.sec3 .panel .work-left .btn:hover::before{
    width: 100%;
    background: rgba(0, 88, 84, 1);
}
.sec3 .panel .work-left .btn:hover span{
    color: #fff;
}
.sec3 .panel .work-left .btn:hover svg{
    stroke: #fff;
    transform: translateX(0);
}
.sec3 .panel .work-left .btn:active{
    transform: scale(.96);
}
.sec3 .panel .work-right .imgWrap{
    margin-left: 10%;
    width: 90%;
}
.sec3 .panel .imgWrap{
    position: relative;
    opacity: 0;
    transition: all 0.6s 0.2s ease-in-out;
}
.sec3 .panel .imgWrap.show{
    opacity: 1;
    overflow: hidden;
}
.sec3 .panel .imgWrap.show::before{
    animation: img_before 1s ease-in-out forwards;
}
.sec3 .panel .imgWrap::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100%;
    background: #01403D;
    transform: translateX(-100%);
}
.sec3 .panel .work-right .imgWrap img{
    width: 100%;
    display: block;
}
@keyframes img_before {
    0% { transform: translateX(-100%); background: #01403D; }
    50% { transform: translateX(0); }
    50.001% { transform: translateX(0); }
    100% { transform: translateX(100%); background: #fff; }
}

/* section4 */
.sec4{
    position: fixed; top: 0; left: 0;
    width: 550%; height: 100%;
    display: flex;
}
.sec4 .txtWrap{
    width: 200%;
    overflow: hidden;
}
.sec4 .txtWrap h2{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4 .txtWrap h2 em{
    font-family: 'Anton', sans-serif;
    font-size: 11vw;
    text-transform: uppercase;
    white-space: nowrap;
}
.sec4 .txtWrap h2.txt_wh em{
    color: #fff;
}
.sec4 .txtWrap h2.txt_tr em{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}
.sec4 .panels{
    display: flex;
    width: 400%; height: 100%;
}
.sec4 .panels .panel{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec4 .panels .panel .slide-left-wraper{
    position: relative;
}
.sec4 .panels .panel .slide-right-wraper{
    text-align: left;
}
/* .sec4 .panels .panel .num{
    position: absolute; top: -50px; left: -50px;
}
.sec4 .panels .panel .num span{
    font-size: 150px; color: #774C48;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #B8726B;
} */
.sec4 .panels .panel .cont{
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35vw; height: 35vw;
    background: #fff;
    /* border: 2px solid #ededed; */
    border-radius: 50%;
    box-shadow: rgba(119, 76, 72, 0.4) -5px 5px,
     rgba(119, 76, 72, 0.3) -10px 10px, 
     rgba(119, 76, 72, 0.2) -15px 15px, 
     rgba(119, 76, 72, 0.1) -20px 20px, 
     rgba(119, 76, 72, 0.05) -25px 25px;
}
.sec4 .panels .panel .ani_ttl{
    margin: 0 20% 6% 5%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 46px; font-weight: 600;
    line-height: 1.2em;
    color: #fff;
    padding-right: 50%;
}
.sec4 .panels .panel .ani_desc{
    margin: 0 20% 4% 5%;
    font-size: 18px;
    font-family: 'GyeonggiBatang'; 
    color: #774C48;
}
.sec4 .panels .panel .slide-right-wraper ul{
    margin: 0 20% 8% 5%;
}
.sec4 .panels .panel .slide-right-wraper ul li{
    font-size: 18px;
    font-family: 'GyeonggiBatang'; 
    margin-bottom: 2%;
    color: #774C48;
}
.sec4 .panels .panel .slide-right-wraper ul li::before{
    display: inline-block;
    content: '';
    width: 5px; height: 5px;
    border-radius: 50%;
    background: #774C48;;
    margin-right: 8px;
}
.sec4 .panels .panel .open{
    margin-left: 5%;
}
.sec4 .panels .panel .open a{
    font-size: 18px;
    font-family: 'GyeonggiBatang'; 
}
.sec4 .panels .panel .open a{
    position: relative;
    margin: auto;
    padding: 1rem 5rem;
    appearance: none;
    background-color: transparent;
    border: none;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset;
    color: #fff;
    cursor: pointer;
}
.sec4 .panels .panel .open a::before,
.sec4 .panels .panel .open a::after{
    content: "";
    position: absolute;
    height: 0; width: 1px;
    transition: height 0.3s 0.3s cubic-bezier(0.86, 0, 0.07, 1), 
                width 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}
.sec4 .panels .panel .open a::before{
    box-shadow: 1px 1px 0 white inset;
    bottom: 0; left: 0;
}
.sec4 .panels .panel .open a::after{
    box-shadow: -1px -1px 0 white inset;
    top: 0; right: 0;
}
.sec4 .panels .panel .open a:hover::before,
.sec4 .panels .panel .open a:hover::after{
    height: 100%; width: 100%;
    transition: height 0.3s cubic-bezier(0.86, 0, 0.07, 1), 
                width 0.3s 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

/* 모달 */
#modal{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100vh;
    z-index: 5000;
    visibility: hidden;
}
#modal .modal-bg{
    position: relative;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; height: 100%;
}
#modal .close-btn{
    position: absolute; top: 1vw; right: 2vw;
    display: inline-block;
    width: 2.5vw; height: 2.5vw;
}
#modal .close-btn div{
    position: relative; left: 0; top: 50%;
    width: 2.5vw; height: 0.2vw;
    background: #fff;
    transform: rotate(45deg);
}
#modal .close-btn div::before{
    content: '';
    position: absolute; left: 0; top: 0;
    width: 2.5vw; height: 0.2vw;
    background: #fff;
    transform: rotate(-90deg);
}
#modal .modal-cont{
    position: relative;
    display: flex; align-items: center; justify-content: center;
    width: 95vw;  height: 40vw;
    margin: 0 auto;
}
#modal .modal-cont .code-cont{
    width: 85%;
}
.modal-cont .tab{
    position: relative;
    display: flex;
    height: 2.5vw;
    background: #21252B;
    border-bottom: 0.1vw solid #282C34;
    overflow: hidden;
}
.modal-cont .tab .menu-color{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 6vw;
    padding: 0 1vw;
}
.modal-cont .tab .menu-color span{
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
}
.modal-cont .tab .menu-color span:nth-child(1){background: #FF4A4A;}
.modal-cont .tab .menu-color span:nth-child(2){background: #FFB83D;}
.modal-cont .tab .menu-color span:nth-child(3){background: #00C543;}

.modal-cont .tab .tablinks{
    padding: 0 2.7vw;
    color: #8E9093; font-weight: 400;
    line-height: 2.5vw;
}
.modal-cont .tab .tablinks.on{
    color: #fff;
    background: #383E4A;
}
.modal-cont .tabcontent{
    /* height: 3.5vw; */
    overflow-y: auto;
    background: #282C34;
    display: none;
}
.modal-cont .tabcontent span{
    color: #fff;
}
.modal-cont .tabcontent.on{
    display: block;
}

#modal.show{
    visibility: visible;
}
#modal.out{
    visibility: hidden;
}


/* section5 */
.sec5 ul{
    display: flex;
    width: 100%; height: 0.5px;
    background: #fff;
    text-align: center;
    transform: translateY(-50%);
}
.sec5 ul li{
    position: relative;
    width: 33.3333%;
}
.sec5 ul li .dot{
    margin: 0 auto;
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all .3s cubic-bezier(0.25, 0.1, 0.25, 1.0);
}
.sec5 ul li .dot:hover{
    width: 35px; height: 35px;
    background: #D28179;
    box-shadow: 0 0 0 2px rgba(210, 129, 121, 0.9) inset,
                0 0 0 100px rgba(255, 255, 255, 0.1) inset;
}
.sec5 ul li.on .dot{
    width: 35px; height: 35px;
    background: #D28179;
    border-radius: 50%;
}
.sec5 ul li.on .dot:hover{
    box-shadow: none;
}
.sec5 ul li span{
    position: absolute; bottom: 0; left: 50%;
    font-size: 16px;
    transform: translate(-50%, -200%);
}
.sec5 .panel{
    display: none;
    margin-top: 11%;
}
.sec5 .panel.on{
    display: block;
}
.sec5 .panel .script-left{
    /* width: 35%; */
}
.sec5 .panel .script-left .script_ttl{
    font-family: 'Fjalla One', sans-serif;
    font-size: 46px;
    margin: 6% 0;
}
.sec5 .panel .script-left .script_desc{
    font-size: 18px;
    font-family: 'GyeonggiBatang'; 
}
.sec5 .panel .script-right{
    /* margin-left: 5%; */
    /* width: 85%; */
}
.sec5 .panel .script-right .cont{
    position: relative;
    width: 100%; height: 600px;
}

.sec5 .panel .script-left .script_ttl{
    text-align: center;
    animation: fadeEffect 0.6s ease;
}
.sec5 .panel .script-left .script_desc{
    animation: fadeEffect 0.6s ease;
}
.sec5 .panel .script-right div{
    animation: fadeEffect 0.6s ease;
}

.sec5 iframe{
    width: 100%; height: 100%;
}

.sec4 .panels .panel .open{
    margin-left: 5%;
}
.sec4 .panels .panel .open a{
    font-size: 18px;
    font-family: 'GyeonggiBatang'; 
}



@keyframes fadeEffect {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/* .sec6 */
.sec6{ 
    text-align: center;
}
.sec6 .greeting {
    font-family: 'Fjalla One', sans-serif;
    color: #01403D; font-size: 22px; letter-spacing: 5px;
    
}
.sec6 h3 {
    font-family: 'Fjalla One', sans-serif;
    color: #01403D; font-size: 60px; 
    letter-spacing: 3px;
    padding-bottom: 30px; 
}
.sec6 .namecard { 
    margin: 0 auto; 
    width: 45%; height: 100%;
}
#fs-frm input, #fs-frm textarea{ 
    width: 100%; 
    padding: 14px 14px; 
    margin-bottom: 15px;
    border: 1px solid #01403D; 
    box-sizing: border-box; 
    background: #f6f4ee;   
}
.sec6 .namecard span{
    display: block; 
    padding-bottom: 20px;
    font-size: 16px; color: #01403D; 
}
.sec6 .namecard .mail_to{ 
    text-align: left; 
}
.sec6 .namecard .mail_from { 
    text-align: right; 
}
.sec6 .namecard .submit{ 
    position: relative;
    display: block; 
    margin: 0 auto; 
    width: 180px!important; height: 50px!important; 
    border-radius: 50px 50px;
    background: #01403D !important; 
    color: #fff2ed !important;
    overflow: hidden;
    cursor: pointer;
}





/* 미디어쿼리 */
@media (max-width: 1200px){
    .container{ padding: 0 1%;}

    .sec1 .imgWrap {width: 300px;}
    

    .sec3 .panel .work-left .btn{
        display: inline-block;
        margin-bottom: 10px;
    }
        
}
@media (max-width: 1024px){
    .sec3 .panel .work-left .work_ttl{
        font-size: 56px;
        margin-bottom: 10%;
    }
    .sec3 .panel .work-left .work_desc{
        font-size: 20px;
        margin-bottom: 16%;
    }
}
@media (max-width: 960px){
    #section2-1{
    }
    .sec2 .txtWrap1 .about-left{display: none;}
    .sec2 .txtWrap1, .sec2 .txtWrap2{display: block;}
    .sec2 .txtWrap1{margin-bottom: 6vh;}
    .sec2 .txtWrap1 .about-right,
    .sec2 .txtWrap2 .about-left,
    .sec2 .txtWrap2 .about-right{width: 100%;}
}
@media (max-width: 800px){
    .sec1 .imgWrap {width: 230px; height: auto;}

    .sec3 .panel{
        display: block;
        padding: 0 3%;
    }
    .sec3 .panel .work-left{ 
        width: 80%;
        margin-bottom: 10%; 
    }
    .sec3 .panel .work-left .work-left-wrap{
        top: 0;
        transform: translateY(0);
    }
    .sec3 .panel .work-left .work_desc{margin-bottom: 10%;}
    .sec3 .panel .work-right{width: 100%;display: none;}
    .sec3 .panel .work-right .imgWrap{
        width: 100%;
        margin-left: 0;
        
    }
    .sec3 .panel .work-img{
        display: block; 
        width: 100%; 
        margin-bottom: 50px;
       }
}
@media (max-width: 768px){}
@media (max-width: 600px){}
@media (max-width: 480px){}
@media (max-width: 320px){}

