.wrap{
    position: relative;
    width: 100%;
}
.container{
    margin: 0 auto;
    width: 1280px;
}

.header{
    position: absolute;
    padding: 30px 0;
    width: 100%;
}
.header .container .nav::after{
    content: "";
    display: block;
    clear: both;
}
.header .container .nav .left-side{
    float: left;
}
.header .container .nav .left-side span{
    color: white;
    font-size: 19px;
    font-weight: 600;
}
.header .container .nav .right-side{
    float: right;
}
.header .container .nav .right-side span{
    margin: 0 20px;
    color: white;
    font-size: 19px;
}
.header .container .nav .right-side span.on{
    border-bottom: 2px solid white;
}