.wrap{
    position: relative;
    width: 100%;
    min-width: 1280px;
}
.container{
    margin: 0 auto;
    width: 1280px;
}

/* top-visual */
.content{
    width: 100%;
}
.content .top-visual{
    width: 100%;
    padding-top: 350px;
    padding-bottom: 150px;
    margin-bottom: 90px;
    text-align: center;
    background: url(../image/service_img.jpg) no-repeat top center;
}
.content .top-visual p{
    color: white;
    font-size: 17px;
    line-height: 35px;
}

/* service1 */
.content .service1{
    padding: 20px;
}
.content .service1 .container > div{
    display: flex;
    justify-content: end;
    align-items: center;

    padding: 40px 0;
    border-bottom: 1px solid rgb(234, 234, 234);
}
.content .service1 .container > div:last-child{
    border-bottom: 0;
}
.content .service1 .container div .img-area span{
    display: inline-block;
    width: 180px;
    height: 180px;
    margin-right: 30px;
}
.content .service1 .container .service1_01 .img-area span{
    background: url(../image/service_bicons.png) no-repeat 0 0;
}
.content .service1 .container .service1_02 .img-area span{
    background: url(../image/service_bicons.png) no-repeat -200px 0;
}
.content .service1 .container .service1_03 .img-area span{
    background: url(../image/service_bicons.png) no-repeat 0 -200px;
}
.content .service1 .container .service1_03 .txt-area{
    
}
.content .service1 .container .txt-area a{
    display: flex;
    align-items: center;
}
.content .service1 .container .txt-area a h2{
    font-size: 28px;
}
.content .service1 .container .txt-area a .more{
    padding: 5px; 
    margin-left: 5px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    background-color: rgb(234, 234, 234);
}
.content .service1 .container .txt-area .more:hover{
    background-color: rgb(210, 210, 210);
}
.content .service1 .container .txt-area h3{
    font-size: 20px;
    line-height: 57px;
}
.content .service1 .container .txt-area h4{
    color: rgb(102, 102, 102);
    font-size: 16px;
    line-height: 26px;
}

/* service2 */
.content .service2{
    padding: 100px 0;
    background-color: rgb(235, 235, 235);
}
.content .service2 .container h3{
    margin-bottom: 30px;
    font-size: 38px;
}
.content .service2 .container h4{
    margin: 0 0 60px 0;
    color: rgb(102, 102, 102);
    font-size: 18px;
}
.content .service2 .container .service-list{
}
.content .service2 .container .service-list li{
    position: relative;
    display: inline-block;
    margin: 0 20px 20px 0;
    width: 285px;
    height: 285px;
    background-color: white;
    text-align: center;
}
.content .service2 .container .service-list li:nth-child(4n){
    margin-right: 0;
}
.content .service2 .container .service-list li p{
    padding: 50px 0 25px;
    font-size: 22px;
}
.content .service2 .container .service-list li span{
    display: inline-block;
    width: 130px;
    height: 130px;
}
.content .service2 .container .service-list .service2_01 span{
    background: url(../image/service_icons.png) no-repeat 0 0;
}
.content .service2 .container .service-list .service2_02 span{
    background: url(../image/service_icons.png) no-repeat -150px 0;
}
.content .service2 .container .service-list .service2_03 span{
    background: url(../image/service_icons.png) no-repeat -300px 0;
}
.content .service2 .container .service-list .service2_04 span{
    background: url(../image/service_icons.png) no-repeat -450px 0;
}
.content .service2 .container .service-list .service2_05 span{
    background: url(../image/service_icons.png) no-repeat 0px -150px;
}
.content .service2 .container .service-list .service2_06 span{
    background: url(../image/service_icons.png) no-repeat -150px -150px;
}
.content .service2 .container .service-list .service2_07 span{
    background: url(../image/service_icons.png) no-repeat -300px -150px;
}
.content .service2 .container .service-list .service2_08 span{
    background: url(../image/service_icons.png) no-repeat -450px -150px;
}
.content .service2 .container .service-list .service2_09 span{
    background: url(../image/service_icons.png) no-repeat 0 -300px;
}
.content .service2 .container .service-list .service2_10 span{
    background: url(../image/service_icons.png) no-repeat -150px -300px;
}
.content .service2 .container .service-list .service2_11 span{
    background: url(../image/service_icons.png) no-repeat -300px -300px;
}
.content .service2 .container .service-list .service2_12 span{
    background: url(../image/service_icons.png) no-repeat 0 -450px;
}
.content .service2 .container .service-list .service2_13 span{
    background: url(../image/service_icons.png) no-repeat -450px -450px;
}
.content .service2 .container .service-list .service2_14 span{
    background: url(../image/service_icons.png) no-repeat -150px -450px;
}
.content .service2 .container .service-list .service2_15 span{
    background: url(../image/service_icons.png) no-repeat -300px -450px;
}
.content .service2 .container .service-list .service2_16 span{
    background: url(../image/service_icons.png) no-repeat -450px -300px;
}
.content .service2 .container .service-list .service2_17 span{
    background: url(../image/service_icons.png) no-repeat 0 -600px;
}

.content .service2 .container .service-list li.service2_11 .nomal-area{
    opacity: 1;
}
.content .service2 .container .service-list li.service2_11 .hover-area{
    opacity: 0;
}
.content .service2 .container .service-list li.service2_11:hover .nomal-area{
    opacity: 0;
} 
.content .service2 .container .service-list li.service2_11:hover .hover-area{
    opacity: 1;
} 
.content .service2 .container .service-list li .hover-area{
    position: absolute; top: 0; left: 0;
    height: 100%; width: 100%;
    background-color: rgb(25, 25, 25);
}
.content .service2 .container .service-list li .hover-area > div{
    height: 100%;
    padding: 93px 0;
}
.content .service2 .container .service-list li .hover-area p{
    padding: 0;
}
.content .service2 .container .service-list li .hover-area p:first-child{
    margin-bottom: 10px;
}
.content .service2 .container .service-list li .hover-area p a{
    display: inline-block;
    padding: 10px 0;
    width: 230px;
    border: 1px solid white;
    color: white;
    font-size: 18px;
}

/* footer */
footer{
    padding: 50px;
    background-color: rgb(34, 34, 34);
}
footer p{
    color: rgb(195, 195, 195);
    font-size: 14px;
    text-align: center;
}