/* 공통 */
body{
    overflow-x: hidden;
}
.content{
    font-size: 0;
}
.container{
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}
.container::after{
    content: "";
    display: block;
    clear: both;
}
.container > div{
    display: inline-block;
}
.container .left-side{
    float: left;
    width: 50%;
}
.container .right-side{
    float: right;
    width: 50%;
}
.txt-box-black,
.txt-box-white{
    display: inline-block;
    width: 121px;
    border-radius: 5px;
    text-align: center;
    margin-right: 5px;
    transition: all .5s;
}
.txt-box-black{
    border: 2px solid #222;
}
.txt-box-black:hover{
    background-color: #222;
    color: white;
}
.txt-box-white{
    border: 2px solid white;
}
.txt-box-white:hover{
    background-color: white;
    color: #222;
}
.txt-box-black a,
.txt-box-white a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-weight: 600;
    padding: 6px ;
    transition: all .5s;
}
.txt-box-black a{
    color: #222;
}
.txt-box-black a:hover{
    color: white;
    text-decoration: underline;
}
.txt-box-white a{
    color: white;
}
.txt-box-white a:hover{
    color: #222;
    text-decoration: underline;
}
.txt-box-black.long{
    width: 247px;
}
img{
    /* vertical-align: top; */
}
.badge{
    position: fixed;
    top: 140px;
    right: 20px;
    z-index: 10;
}
.top-visual{
    margin-top: 130px;
    font-size: 0;
}
.top-visual img{
    width: 100%;
}

/* main1 */
.main1{
}
.main1::after{
    content: "";
    display: block;
    clear: both;
}
.main1 .left-side,
.main1 .right-side{
    height: 61px;
    float: left;
    width: 50%;
}
.main1 .left-side{
    display: flex;
    background-color: black;
}

.main1 .left-side ul{

}
.main1{
    position: relative;
}
.main1 .container{
    position: absolute; top: 0; left: 50%;
    transform: translateX(-50%);
    width: 1000px;
}
.main1 .container .con-left-side,
.main1 .container .con-right-side{
    width: 50%; height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main1 .container .con-left-side span{
    width: 20%;
    color: rgb(151, 151, 151);
    font-weight: 600;
    text-align: center;
}
.main1 .container .con-left-side .notice{
    width: 68%; height: 100%;
    margin: 0 1%;
    overflow: hidden;
}
.main1 .container .con-left-side ul{
    
}
.main1 .container .con-left-side ul li{
    display: flex; align-items: center;
}
.main1 .container .con-left-side ul li a{
    color: rgb(151, 151, 151);
    font-size: 14px;
    font-weight: 600;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
}
.main1 .container .con-left-side ul li a:hover{
    text-decoration: underline;
}
.main1 .container .con-left-side .more{
    width: 10%; height: 36px;
    line-height: 61px;
    text-align: center;
}
.main1 .container .con-left-side .more a{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../image/btn_notice_plus.png) no-repeat center/100% 100%;
}
.main1 .right-side{
    /* display: flex; */
    background-color: #f6f5ef;
} 
.main1 .container .con-right-side span{
    margin-left: 100px;
    color: rgb(40, 40, 40);
    font-weight: 600;
    line-height: 61px;
    cursor: pointer;
}
.main1 .container .con-right-side .btn-down::after{
    content: "";
    display: inline-block;
    margin-left: 100px;
    width: 36px; height: 36px;
    background: url(../image/btn_prom_down.png) no-repeat;
    vertical-align: middle;
}
.main1 .container .con-right-side .btn-up::after{
    content: "";
    display: inline-block;
    margin-left: 100px;
    width: 36px;
    height: 36px;
    background: url(../image/btn_prom_up.png) no-repeat;
}
/* .main1_1 */
.main1_1{
    overflow: hidden;
    padding: 30px 0;
    width: 100%;
    background-color: #f6f5ef;;
}
.main1_1  ul{
   
}
.main1_1  ul li{
    position: relative;
    width: 60%;
    text-align: center;
}
.main1_1  ul li img{
    width: 100%;
}
.main1_1  ul li p{
    position: absolute;
    bottom: 15px;
    left: calc(50% - 60px);
}
.main1_1 .swiper-button-next,
.main1_1 .swiper-button-prev{
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    border-radius: 50%;
    transition: all .5s;
}
.main1_1 .swiper-button-next{
    right: 240px;
    background: url(../image/arrow_right_on.png) no-repeat center;
}
.main1_1 .swiper-button-prev{
    left: 240px;
    background: url(../image/arrow_left_on.png) no-repeat center;
}
.main1_1 .swiper-button-next:hover,
.main1_1 .swiper-button-prev:hover{
    background-color: white;
}
.main1_1 .swiper-button-next::after,
.main1_1 .swiper-button-prev::after{
    content: "";
}
.main1_1 .swiper-slide-next,
.main1_1 .swiper-slide-prev{
    opacity: 0.5;
}
.main1_1 .swiper-pagination-bullet-active,
.main1_1 .swiper-pagination-bullet{
    display: inline-block;
    width: 13px;
    height: 12px;
}
.main1_1 .swiper-pagination-bullet{
    opacity: 2;
    background: url(../image/main_prom_off.png) no-repeat;
}
.main1_1 .swiper-pagination-bullet-active{
    background: url(../image/main_prom_on.png) no-repeat;
}
.main1_1 .swiper-pagination .play{
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(../image/main_prom_play.png) no-repeat;
    cursor: pointer;
}
.main1_1 .swiper-pagination .stop{
    display: inline-block;
    width: 13px;
    height: 12px;
    background: url(../image/main_prom_stop.png) no-repeat;
    cursor: pointer;
}

/* main2 */
.main2{
    height: 335px;
}
.main2::after{
    content: "";
    display: block;
    clear: both;
}
.main2 > div{
    float: left;
    height: 100%;
}
.main2 .left-side{
    width: 20%;
    background: rgb(39, 39, 39);
}
.main2 .middle-side{
    position: relative;
    width: 335px;
    background: #D6C798 url(../image/reward_star_bg_m.png) no-repeat;
    background-size: 100% 100%;
}
.main2 .middle-side .main2-logo{
    position: absolute;
    display: inline-block;
    left: 30px;
    top: 107px;
    width: 214px;
    height: 45px;
    background: url(../image/reward_logo.png) no-repeat 0 0;
}
.main2 .right-side{
    padding-left: 30px;
    width: calc(80% - 335px);
    background: #D6C798 url(../image/reward_texbg.jpg) no-repeat -150px bottom;
}
.main2 .right-side .main2-txt1{
    display: inline-block;
    width: 449px;
    height: 73px;
    margin: 25px 0 10px;
    background: url(../image/reward_txt.png) no-repeat 0 0;
}
.main2 .right-side .main2-txt2{
    display: inline-block;
    width: 342px;
    height: 78px;
    margin: 30px 0 10px;
    background: url(../image/egiftCard_txt.png) no-repeat 0 0;
}


/* main3 */
.main3{
    display: inline-block;
    width: 100%;
    height: 573px;
    background: url(../image/19_christmas1_coffee_bg_1.jpg) no-repeat center;
}
.main3 .container .left-side{
    opacity: 0;
    transform: translate(-80%, 15%);
}
.main3 .container .right-side{
    opacity: 0;
    transform: translate(80%, 50%);
}
.main3 .container .right-side .main3-txt2{
    display: inline-block;
    margin: 20px 0;
}

/* main4 */
.main4{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 400px;
    background-color: #0E0E0E;
    z-index: -2;
}
.main4::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url(../image/19_christmas_main_res_bean.png) no-repeat 268px 0 ;
    z-index: -1;
}
.main4 .container .left-side{
    display: inline-block;
    transform: translateY(38%);
}
.main4 .container .left-side .main4-logo img{
    transform: translateY(-50%);
}
.main4 .container .left-side .btn-area{
    display: inline-block;
    padding-left: 55px;
}
.main4 .container .right-side{
    height: 100%;
}
.main4 .container p {display: block;margin-top: 20px;}

/* main5 */
.main5{
    display: inline-block;
    width: 100%;
    height: 762px;
    background: #0E0E0E url(../image/fav_prod_bg_new.jpg) no-repeat center 100%;
    background-attachment: fixed;
}
.main5 .container .left-side{
    text-align: right;
    transform: translate(-30%, 30%);
}
.main5 .container .left-side .main5-txt1{
    display: inline-block;
    width: 258px;
    height: 204px;
    background: url(../image/fav_prod_txt01.png) no-repeat 0 0;
    opacity: 0;
    transform: translateX(-80%);
}
.main5 .container .left-side .main5-txt2{
    display: inline-block;
    margin: 30px 0;
    width: 362px;
    height: 156px;
    background: url(../image/fav_prod_txt02.png) no-repeat 0 0;
    opacity: 0;
    transform: translateX(-80%);
}
.main5 .container .left-side .btn-area{
    opacity: 0;
    transform: translateX(-80%);
}
.main5 .container .right-side{
    transform: translateY(25%);
}

/* main6 */
.main6{
    display: inline-block;
    width: 100%;
    height: 688px;
    background: url(../image/reserve_bg.jpg) center fixed no-repeat #060606;
    
    background-size: 100% 100%;
}
.main6 .medal{
    position: relative; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 334px; height: 334px;
}
.main6 .medal .front{
    position: absolute; top: 0; left: 0;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
}
.main6 .medal .back{
    position: absolute; top: 0; left: 0;
    z-index: -1;
    transform-style: preserve-3d;
    transform: rotateY(-180deg);
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
}
.main6 .back p{
    position: absolute; 
    left: 105px; bottom: 50px;
}
.main6 .medal:hover .front{
    transform: rotateY(180deg);
}
.main6 .medal:hover .back{
    transform: rotateY(0deg);
    z-index: 1;
}

/* main7 */
.main7{
    display: inline-block;
    width: 100%;
    height: 400px;
    background: url(../image/store_bg.jpg);
}
.main7 .container{
    position: relative;
}
.main7 .container .left-side{
    position: relative;
}
.main7 .container .left-side .main7-img1{
    display: inline-block;
    width: 366px;
    height: 312px;
    background: url(../image/store_exp_img02.png) no-repeat right;
}
.main7 .container .left-side .main7-img2{
    position: absolute;
    top: 149px;
    left: 250px;
    display: inline-block;
    width: 228px;
    height: 228px;
    background: url(../image/store_exp_img01.png) no-repeat left;
}
.main7 .container .right-side{
    transform: translateY(55%);
}
.main7 .container .right-side .main7-txt1{
    display: inline-block;
    width: 385px;
    height: 54px;
    background: url(../image/store_txt01.png) no-repeat;
    opacity: 0;
    transform: translateX(80%);
}
.main7 .container .right-side .main7-txt2{
    display: inline-block;
    width: 366px;
    height: 61px;
    margin-top: 10px;
    background: url(../image/store_txt02.png) no-repeat;
    opacity: 0;
    transform: translateX(80%);
}
.main7 .container .right-side .btn-area{
    margin-top: 30px;
    opacity: 0;
    transform: translateX(80%);
}
.main7 .container .store-img1{
    position: absolute;
    top: -15%;
    left: 33%;
    display: inline-block;
    width: 343px;
    height: 142px;
    background: url(../image/store_exp_img03.png) no-repeat 0 0;
}
.main7 .container .store-img2{
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 230px;
    height: 102px;
    background: url(../image/store_exp_img04.png) no-repeat 0 0;
}

@keyframes open{
    from {max-height: 0;}
    to {max-height: 610px;}
}
